@import 'fonts.css';

body {
   font-family: 'Open Sans';
}

ul,
li {
   display: block;
   padding: 0;
   margin: 0;
}

/*Меню*/
.menu-bar {
   background: #fff;
   padding: 20px 0;
   color: #212121;
}

.menu__item {
   margin-left: 37px;
}

.menu__item a {
   font-family: 'Open Sans Semibold';
   font-size: 20px;
   color: #212121;
}

.menu__item a:hover {
   text-decoration: none;
   color: #868686;
}

.header {
   color: white;
   text-align: center;
   padding: 180px 0;
   background-size: cover;
   background-position: 0 100%;
   background-image: url(../img/header.png);
}

.header__title {
   font-size: 55px;
}

.header__text {
   font-size: 20px;
   margin-bottom: 100px;
}

.button {
   text-transform: uppercase;
   cursor: pointer;
   padding: 10px 25px;
   margin: 0 10px;
   color: white;
   transition: 1s;
   background: #00897b;
   border: 2px solid #00897b;
}

.button:hover {
   background: transparent;
   border: 2px solid white;
}

/*About Us*/
.about {
   padding-top: 120px;
   padding-bottom: 125px;
   color: black;
   background: white;
   text-align: center;
}

.about__title {
   font-size: 30px;
   font-weight: bold;
}

.about__text {
   color: #212121;
   font-size: 15px;
   margin-bottom: 110px;
}

.about_h3 {
   margin-top: 30px;
   margin-bottom: 20px;
   font-family: 'Open Sans Semibold';
   font-size: 20px;
}

/*Our Services*/
.services {
   padding-top: 165px;
   padding-bottom: 125px;
   color: black;
   background: #e4fdf9;
   text-align: center;
}

.our_card {
   background: white;
   padding: 50px 40px 40px;
   transition: 1s;
   margin-bottom: 30px;
}

.our_card:hover {
   background: #00897b;
   color: white;
   box-shadow: 0px 10px 12px -3px rgba(0, 0, 0, 0.26);
}

.our_card:hover .icon {
   color: #ffffff;
   transition: 0.5s;
}

.our_card:hover .services__text {
   color: #ffffff;
   transition: 0.5s;
}

.our_card:hover .button-services {
   border: 2px solid white;
   color: #ffffff;
   transition: 0.5s;
}

.icon {
   transition: 1s;
   font-size: 60px;
   color: black;
}

.button-services {
   margin-top: 20px;
   transition: 1s;
   color: black;
   text-transform: uppercase;
   border: 2px solid black;
   background: transparent;
   padding: 10px 12px 10px;
   font-family: 'Open Sans Semibold';
}

.button-services:hover {
   cursor: pointer;
}

.services__text {
   color: #212121;
   font-size: 15px;
   margin-bottom: 40px;
}

/*Latest Works*/

.portfolio {
	padding-top: 120px;
	padding-bottom: 135px;
	text-align: center;
	margin-bottom: 120px;
}

.portfolio button:hover,
.focused { 
	color: black;
	background: transparent;
	border: 2px solid #00897b;
}

.portfolio img {
	max-width: 100%;
	margin-bottom: 30px;
}

.filter {
	padding: 120px 0;
}

div[filter]:hover img {
	filter: brightness(50%);
	transition: 1s;
}

.text {
	display: none;
}

div[filter]:hover .text {
	display: block;
	width: 100%;
	color: #ffffff;
	position: absolute;
	top: 40%;
	left: 0;
	z-index: 3;
	text-align: center;
}

/*Pricing*/

.pricing {
	padding-top: 165px;
	padding-bottom: 125px;
	color: black;
	background: #f0f1f1;
	text-align: center;
}

.price {
	background: #ffffff;
	transition: 1s;
	margin-bottom: 25px;
}

.price:hover {
	box-shadow: 0 0 11px 3px rgba(0, 0, 0, 0.39);
}

.price__head {
	color: white;
	background-image: url(../img/price_header.png);
	padding-top: 40px;
	padding-bottom: 65px;
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 211px;
	font-size: 50px;
}

.price__head p {
	font-size: 25px;
}

.price__head sup {
	font-size: 25px;
	vertical-align: middle;
}

.price__head sub {
	font-size: 17px;
	vertical-align: middle;
}

.price__body {
	font-size: 17px;
	color: #212121;
}

.price__body li {
	margin: 0 auto;
	border-bottom: 1px solid #bfbfbf;
	padding-bottom: 12px;
	padding-top: 28px;
	max-width: 180px;
}

.price__footer {
	padding: 60px 0;
}

.price__footer button {
	background: transparent;
	color: #212121;
	border: 2px solid #212121;
	width: 180px;
	height: 60px;
	font-size: 20px;
	cursor: pointer;
}

.price__footer button:hover {
	text-transform: uppercase;
	color: white;
	background: #00897b;
	border: none;
	transition: 1s;
}

.team {
	text-align: center;
	padding-top: 165px;
	padding-bottom: 125px;
	color: black;
	background: white;
}

.team h4 {
	margin-top: 30px;
	font-size: 20px;
	font-family: 'Open Sans Semibold';
}

.team p {
	margin-bottom: 30px;
	font-size: 15px;
	font-family: 'Open Sans Semibold';
}

.icons {
	display: flex;
	justify-content: center;
}

/*Blog*/
.left > div:first-child {
	order: 1;
}

.left > div:last-child {
	order: 2;
}

.right > div:first-child {
	order: 2;
}

.right > div:last-child {
	order: 1;
}

.blog {
   padding-top: 165px;
   padding-bottom: 125px;
   color: black;
   background: #e4fdf9;
   text-align: center;
}

.blog__text {
   color: #212121;
   font-size: 15px;
   margin-bottom: 40px;
}

.division {
	margin-left: 35px;
	text-align: left;
}

.division div {
	padding-top: 15px;
}

.division a {
	font-size: 25px;
	font-family: 'Open Sans Semibold';
	color: #00897b;
}

.division span {
	margin-right: 35px;
	font-size: 17px;
	font-family: 'Open Sans Semibold';
}

.division i {
	margin-right: 15px;
}

.division p {
	margin-top: 20px;
	font-size: 15px;
}

.button_blog {
	margin-top: 125px;
	width: 220px;
	height: 70px;
	text-transform: uppercase;
	color: white;
	transition: 1s;
	font-size: 15px;
	border: none;
	background: #00897b;
}

.button_blog:hover {
	cursor: pointer;
	border: 2px solid #00897b;
	color: #000000;
	background-color: white;
}

.left, .right {
	margin-top: 20px;
}

/*Footer*/
.footer {
	text-align: center;
	padding-top: 130px;
	padding-bottom: 120px
	color: black;
	background-image: url(../img/footer.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.footer .about__text, .footer .about__title, .footer .about_h3 {
	color: #fff;
}

.fa-map-marker-alt, .footer .fa-mobile-alt, .fa-envelope {
	font-size: 60px;
	color: #fff;
}

.circle {
	background: #3949ab;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 35px;
}

.my_info {
	font-size: 20px;
	color: #fff;
	font-family: 'Open Sans Semibold';
}

.footer input {
	padding: 30px;
	width: 100%;
	border-radius: 10px;
	border: none;
	margin-bottom: 35px;
}

.footer textarea {
	padding: 30px;
	width: 100%;
	border-radius: 10px;
	border: none;
	margin-bottom: 40px;
	resize: none;
}

.form {
	margin-top: 70px;
}

.footer button {
	margin-bottom: 120px;
	text-transform: uppercase;
	color: white;
	transition: 1s;
	font-size: 20px;
	border: none;
	border-radius: 10px;
	background: #3949ab;
	font-family: 'Roboto Bold', sans-serif;
	padding: 20px 80px;
}

.footer button:hover {
	color: #000000;
	background: #fff;
	cursor: pointer;
}

.footer input:focus, .footer textarea:focus {
	outline: none;
}

.terms {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Roboto Bold', sans-serif;
	font-size: 20px;
	color: #212121;
}

.hometown {
	color: #212121;
	font-family: 'Roboto Bold', sans-serif;
}

.hometown:hover {
	color: #FF1600;
	cursor: pointer;
	transition: 1s;
	text-decoration: none;
}

#toTop {
	z-index: 999;
	height: 40px;
	width: 40px;
	border: none;
	font-size: 20px;
	border-radius: 2px;
	background: #A3F0F6;
	text-align: center;
	padding: 5px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
	color: #000000;
	transition: 1s;
}

#toTop:hover {
	background: #00897b;
}

.menu-icon {
	display: none;
}
/*Adaptation*/

@media screen and (max-width: 1024px) {
	nav {
		display: none;
	}

	.logo-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu-icon {
		display: block;
		background: #A3F0F6;
		border: none;
		font-size: 25px;
		width: 50px;
		height: 50px;
		cursor: pointer;
	}

	.division {
	margin-left: 35px;
	text-align: center;
	max-width: 100%;
	}

	.right > div:first-child {
		order: 1;
	}

	.right > div:last-child {
		order: 2;
	}
}

@media screen and (max-width: 640px) {
	.body {
		padding: 40px;
	}
	.header {
		padding: 20px;
	}

	.header__title {
		font-size: 40px;
	}

	.header__text {
		margin-bottom: 20px;
	}

	.header .button {
		margin-bottom: 10px;
		height: 50px;
		width: 165px;
	}

	.about {
		padding: 20px;
	}

	.about__text {
		margin-bottom: 20px;
	}

	.services {
		padding: 20px;
	}
	
	.portfolio {
		padding: 20px;
		padding-bottom: 20px;
	}
	.portfolio .button {
		margin-bottom: 10px;
		height: 50px;
		width: 165px;
	}
	.filter {
		padding: 20px;
	}

	.pricing {
		padding: 20px;
	}
	
	.team {
		padding: 20px 0;
	}
	.team img {
		max-width: 320px;
	}

	.blog {
		padding: 30px
	}
	.division {
		text-align: center;
		max-width: 100%;
		font-size: 12px;
	}

	.right > div:first-child {
		order: 1;
	}

	.right > div:last-child {
		order: 2;
	}
	.division i {
		margin-right: 5px;
	}
	.division span {
		margin-right: 5px;
		font-size: 15px;
	}
	.button_blog {
		margin-top: 20px;
	}
	.blog a {
		font-size: 20px;
	}

	.footer {
		padding: 20px;
	}
	.form {
		margin-top: 20px;
	}

	.footer button {
		margin-bottom: 20px;
	}
}